* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin : 0px;
}
:root {
    --blue-color : #6195ff;
    --item-color : #1c1d21;
    --section-color : #f9f9f9;
    --font-color : #999;
    --footer-color : #1c1d21;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right : 15px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montserrat, sans-serif;
}
button {
    font-family: inherit;
}
a {
    text-decoration: none;
}
input:focus,
textarea:focus  {
    outline: none;
}
/* Small Screen */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screen */
@media (min-width : 992px) {
    .container {
        width:970px;
    }
}
/* Large Screen */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}
.overlay {
    position: absolute;
    top : 0;
    left : 0;
    height : 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.hover-opacity:hover {
    opacity: .8;
}
.general-header {
    text-align: center;
    margin-top: 125px;
}
.general-header .title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
@media (max-width : 768px) {
    .general-header .title {
        font-size: 33px;
    }
}
.general-header .line {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px;
    background-color: var(--blue-color);
}
.py-padd {
    padding: 90px 0;
}
/* End General Styles */

/* 3 - Sections */

/* 3.0 - Start Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    min-height: 75px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #eee;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
header .container .logo {
    text-align: center;
}
header .container .logo img {
    width: 50%;
}
header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
@media (max-width : 992px) {
    header .container .nav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 65px;
        left : 0;
        width: 100%;
        background: #000000f0;
        border-radius: 15px;
        padding: 50px;
        transform: rotate(45deg);
        transform-origin: 695px -40px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}

}
header .container .nav > li {
    text-align: center;
    margin-left: 12px;
}
header .container .nav > li > a {
    display: block;
    color: #333;
    padding: 20px 15px;
    font-size: 14px;
    position : relative
}
header .container .nav > li > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 15px;
    left: 0;
    background-color: var(--blue-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .container .nav > li > a:hover::after,
header .container .nav > li > a.active::after   {
    width: 100%;
}
header .togle {
    width: 45px;
    margin: 10px 0;
    position: relative;
    display: none;
}
@media (max-width: 992px) {
    header .togle {
        display: block;
    }
    header .togle span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #333;
        margin: 8px auto;
        border-radius: 5px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
}
header .togle:hover + .nav {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
}
header .togle:hover span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    -moz-transform: rotate(45deg) translate(10px, 10px);
    -ms-transform: rotate(45deg) translate(10px, 10px);
    -o-transform: rotate(45deg) translate(10px, 10px);
}
header .togle:hover span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
header .togle:hover span:last-child {
    transform: rotate(-45deg) translate(5px, -8px);
    -webkit-transform: rotate(-45deg) translate(5px, -8px);
    -moz-transform: rotate(-45deg) translate(5px, -8px);
    -ms-transform: rotate(-45deg) translate(5px, -8px);
    -o-transform: rotate(-45deg) translate(5px, -8px);
}
/* End Header */

/* Start Content */
.blog .content {
    display: grid;
    grid-template-columns: 74% 22%;
    gap: 4%;
}
@media (max-width : 992px) {
    .blog .content {
        grid-template-columns: 100%;
        gap: 0;
    }
}
.blog .content .left .general-header,
.blog .content .right .general-header  {
    text-align: left;
    margin-top: 40px;
}
.blog .content .left .general-header .title,
.blog .content .right .general-header .title{
    font-size: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.blog .content .left .general-header .line,
.blog .content .right .general-header .line{
    margin: 0;
    height: 3.5px;
    width: 50px;
}
/* - The Right Side */
.blog .content .right .image {
    width: 100%;
}
.blog .content .right .image img{
    width: 100%;
}
.blog .content .right .blog-info {
    padding: 20px;
}
.blog .content .right .info-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.blog .content .right .info-list li{
    margin-right: 15px;
}
.blog .content .right .info-list li i{
    font-size: 12px;
    color: var(--blue-color);
    margin-right: 3px;
}
.blog .content .right .info-list li span{
    font-size: 14px;
}
.blog .content .right h3 {
    margin-bottom: 20px;
}
.blog .content .right p {
    font-size: 14px;
    color: var(--font-color);
    line-height: 1.6;
    margin-bottom: 15px;
}
.blog .content .right .tags span {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}
.blog .content .right .tags .general-header {
    display: none;
}
@media (max-width : 682px) {
    .blog .content .right .tags .general-header {
        display: block;
    }
    .blog .content .right .tags .general-header .title{
        margin : 0
    }
    .blog .content .right .tags .head {
        display: none;
    }
}
.blog .content .right .tags ul {
    display: inline-block;
    margin-top: 5px;
}
.blog .content .right .tags ul li{
    display: inline-block;
    margin-right: 5px;
    padding: 6px 10px;
    background-color: var(--section-color);
    text-align: center;
    margin-bottom: 10px;
}
@media (max-width : 1200px) {
    .blog .content .right .tags ul li {
        font-size: 12px;
    }
}
.blog .content .right .tags ul li i{
    color : var(--blue-color);
    margin-right: 3px;
}

.blog .content .right .portfolio {
    display: flex;
    justify-content: space-between;
    gap : 5%;
    padding: 25px;
    margin-top: 35px;
    border: 1px solid #eee;
}
@media (max-width : 992px) {
    .blog .content .right .portfolio {
        flex-direction: column;
        gap: 30px;
    }
}
.blog .content .right .portfolio .image {
    flex-basis: 25%;
}
.blog .content .right .portfolio .image img{
    width: 100%;
}
.blog .content .right .portfolio .portfolio-info {
    flex-basis: 70%;
}
.blog .content .right .portfolio .portfolio-info .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog .content .right .portfolio .portfolio-info .name h3{
    font-size: 25px;
    text-transform: uppercase;
}
@media (max-width : 992px) {
    .blog .content .right .portfolio .portfolio-info .name h3{
        flex-basis: 45%;
        line-height: 1.2;
    }
}
@media (max-width : 992px) {
    .blog .content .right .portfolio .portfolio-info .social{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.blog .content .right .portfolio .portfolio-info .name a i{
    background: var(--blue-color);
    color: #fff;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.blog .content .right .portfolio .portfolio-info .name a:hover i{
    opacity: .9;
}
.blog .content .right .portfolio .portfolio-info p {
    color: var(--font-color);
}
@media (max-width : 992px) {
    .blog .content .right .portfolio .portfolio-info p{
        text-align: center;
    }
}
.blog .content .right .portfolio .portfolio-info hr {
    margin: 5px 0 30px 0;
    border: 1px solid #eee;
}
.blog .content .right .comments-content {
    margin-top: 30px;
    border: 1px solid #eee;
}
.blog .content .right .comments-content .box{
    padding: 25px;
    display: flex;
    gap: 5%;
}
.blog .content .right .comments-content .box:first-child {
    border-bottom: 1px solid #ddd;
}
.blog .content .right .comments-content .box:nth-child(3) {
    margin: 0 30px;
    background: var(--section-color);
    border: 1px solid var(--blue-color);
}
.blog .content .right .comments-content .box:last-child {
    border-top: 1px solid #eee;
}
.blog .content .right .comments-content .box:last-child .head{
    flex-basis: 100%;
}
.blog .content .right .comments-content .box .head{
    flex-basis: 83%;
}
.blog .content .right .comments-content .box .image{
    flex-basis: 12%;
}
.blog .content .right .comments-content .box .head .box-info{
    display: flex;
    height: fit-content;
    align-items: baseline;
}
.blog .content .right .comments-content .box .head .box-info h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
}
.blog .content .right .comments-content .box:nth-child(3) .box-info h3{
    color: var(--blue-color);
}
.blog .content .right .comments-content .box .head .box-info span{
    color: var(--font-color);
}
.blog .content .right .comments-content .box .head .box-info p{
    margin-left: auto;
    text-transform: uppercase;
    color: var(--blue-color);
    cursor: pointer;
}
@media (max-width: 450px) {
    .blog .content .right .comments-content .box:nth-child(3) .box-info h3{
        font-size: 14px;
    }
    .blog .content .right .comments-content .box:nth-child(3) .box-info span{
        font-size: 12px;
    }
    .blog .content .right .comments-content .box:nth-child(3) .box-info p{
        font-size: 12px;
    }
}
/* Start Contact */
.contact {
    margin-bottom: 120px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 60px;
}
form .input {
    position: relative;
}
form input{
    padding: 15px 20px;
    border: none;
    background: var(--section-color);
    position: relative;
}
form .input span {
    position: absolute;
    height: 2.5px;
    width: 100%;
    bottom: 0;
    left: 0;
}
form .input span::after {
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--blue-color);
    width: 0%;
    transition: width .5s linear;
    -webkit-transition: width .5s linear;
    -moz-transition: width .5s linear;
    -ms-transition: width .5s linear;
    -o-transition: width .5s linear;
}
form .input input:focus + span::after,
form .input textarea:focus + span::after  {
    width : 100%
}
form .name, 
form .email    {
    flex-basis: 45%;
}
form .name input,
form .email input {
    width : 100%
}
@media (max-width : 992px){
    form .name, 
    form .email    {
        flex-basis: 100%;
    }
    form .name {
        margin-bottom: 40px;
    }
}
form .subject {
    margin-top: 40px;
    flex-basis: 100%;
}
form .subject input {
    width : 100%
}
form .input-area {
    flex-basis: 100%;
}
form textarea {
    width: 100%;
    background: var(--section-color);
    border: none;
    height: 150px;
    padding: 15px 20px;
    margin-top: 40px;
}
form input::placeholder,
form textarea::placeholder  {
    text-transform: capitalize;
    font-size: 18px;
    color : var(--font-color)
}
form input:focus::placeholder,
form textarea:focus::placeholder  {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}
.contact button {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: var(--blue-color);
    cursor: pointer;
    transition: background-color .3s;
}
.contact button:hover {
    background-color: #6196ffda;
}
/* End Contact */

/* Start Footer */
footer {
    background-color: var(--footer-color);
    text-align: center;
    padding: 60px 0;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 30px;
}
footer ul li {
    display: inline-block;
    margin-right: 8px;
}
footer ul li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: var(--blue-color);
    border-radius: 3px;
    transition:  box-shadow .3s linear, color .3s linear, border .3s linear;
    -webkit-transition:  box-shadow .3s linear, color .3s linear, border .3s linear;
    -moz-transition:  box-shadow .3s linear, color .3s linear, border .3s linear;
    -ms-transition:  box-shadow .3s linear, color .3s linear, border .3s linear;
    -o-transition:  box-shadow .3s linear, color .3s linear, border .3s linear;
}
@media (max-width : 768px) {
    footer ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
footer ul li a:hover {
    box-shadow: inset 0 3.5em 0 0 var(--item-color);
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
}
footer .copy {
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 18px;
}

@media (max-width : 768px) {
    footer .copy {
        font-size: 15px;
    }
}
/* - Left Side */
@media (max-width : 992px) {
    .blog .content .left {
        display: none;
    }
}
.blog .content .left .input {
    position: relative;
}
.blog .content .left input[type="search"] {
    border: none;
    background-color: var(--section-color);
    width: 100%;
    padding: 8px 35px 8px 15px;
}
.blog .content .left input::placeholder,
.blog .content .left textarea::placeholder  {
    text-transform: capitalize;
    font-size: 15px;
    color : var(--font-color)
}
.blog .content .left input:focus::placeholder,
.blog .content .left textarea:focus::placeholder  {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}
.blog .content .left .input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--blue-color);
    cursor: pointer;
    transition: .3s;
}
.blog .content .left .input input:focus + i {
    opacity: 1;
}
.blog .content .left .list {
    margin-top: 20px;
}
.blog .content .left .list li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 8px 0;
    border-top: 2px solid var(--section-color);
    border-bottom: 2px solid var(--section-color);
    cursor: pointer;
}
.blog .content .left .list li a{
    color: var(--font-color);
    transition: .3s color;
    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -ms-transition: .3s color;
    -o-transition: .3s color;
}
.blog .content .left .list li:hover a{
    color: var(--blue-color);
}
.blog .content .left .list li span{
    color: var(--blue-color);
}
.blog .content .left .popular .post {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}
.blog .content .left .popular .post img{
    width: 38%;
}
.blog .content .left .popular .post .post-info h5 {
    margin-bottom: 8px;
    color: var(--font-color);
}
.blog .content .left .popular .post .post-info p {
    color: var(--blue-color);
    font-size: 12px;
}
.blog .content .left .box {
    margin-top: 20px;
}
.blog .content .left .box li {
    margin-bottom: 8px;
}
.blog .content .left .box li span{
    display: inline-block;
    padding: 8px 12px;
    background: var(--section-color);
    margin-right: 3px;
}

/* End Content */




.up {
    text-decoration: none;
    right: 15px;
    bottom: 20px;
    position: fixed;
    z-index: 50;
    background: var(--blue-color);
    border: none;
    color: white;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}